footer{
    display: block;
    width: 40%;
    height: 100%;
    float: right;
    padding-left: 3%;
}
.pageSpace{
    padding: 17% 0% 0%;
}

body{
    font-family: "Chakra Petch", sans-serif;
    font-size: 23px;
    background-color: #1f1030;
    color: #f6e8be;
    margin: 10px;
    padding: 0 3% 3% 3%;
    overflow-x: hidden;
}
div{
    padding: 2px;
}

p{
    font-family: "Chakra Petch", sans-serif;
}
h1, h2{
    font-family: "Chakra Petch", sans-serif;
    color: #f5e0a0;
    text-align: center;
    flex-wrap: wrap;
}

#email{
    color: #f5e0a0;
    font-style: italic;
    font-size: small;
    padding: 0 10px 0 10px;
}
#link{
    text-decoration: none;
    color: inherit;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1f1030;
    color: #f6e8be;
    transition: 0.3s;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding-top: 20px;
}
.sidebar-menu {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}
.sidebar-menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #371a5a;
}
.sidebar-menu li a {
    color: #f6e8be;
    text-decoration: none;
    display: block;
}
.sidebar-menu li a:hover {
    background-color: #f5e0a0;
    border-radius: 10px;
    color: #1f1030;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    background: none;
    border: none;
    color: #f6e8be;
    cursor: pointer;
}
.close-btn:hover{
    padding: 0 10px;
}

.main-content-open {
    margin-left: 250px;
    transition: margin-left 0.3s;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 200px;
    }
    .main-content-open {
        margin-left: 200px;
    }
}

.button{
    text-decoration: none;
    color: inherit;
}
button{
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    background-color: #f6e8be;
    color: #371a5a;
    border: 3px solid #f5e0a0;
    border-radius: 100px;
    margin: 2px 3px 2px 3px;
    padding: 2px 8px 2px 8px;
}
button:hover{
    font-weight: bold;
    background-color: #f5e0a0;
    color: #1f1030;
    border: 4px solid #f6e8be;
    padding: 1px 5px 1px 5px;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgContainer{
    margin: 2%;
    border: 3px solid #371a5a;
    border-radius: 5px;
    overflow: hidden;
    max-width: 350px;
    max-height: fit-content;
}


.container{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
}
.commBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boxForComm{
    background-color: #f6e8be;
    border: 3px solid #f5e0a0;
    border-radius: 5px;
    color: #371a5a;
    font-family: inherit;
    font-size: inherit;
    height: 50px;
    width: 300px;
}
.commContainer{
    background-color: #f5e0a0;
    border: 3px solid #f6e8be;
    border-radius: 5px;
    color: #1f1030;
    font-family: inherit;
    font-size: inherit;
    height: 50px;
    width: 300px;
    flex-wrap: wrap;
    margin: 2px;
}